:root {
  --clr-primary-400: #b01c87;
  --clr-primary-100: #b01c864f;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar__icons {
  height: 2rem;
  width: 2rem;
  color: white;
  margin: 0rem 0.3rem;
}

.subnavbar__icons {
  height: 1.5rem;
  width: 2rem;
  color: dark;
  margin: 0rem 0.1rem;
}

.banner__text {
  position: absolute;
  top: 25%;
  font-size: 2rem;
  font-weight: 500;
  color: black;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.232);
}

.banner__text-left {
  left: 5%;
}

.banner__text-right {
  right: 5%;
}

.access__a-tag a {
  display: flex;
  align-items: center;
}

.access__a-tag-help a {
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.profile__card123 {
  width: 10rem;
  height: 20rem;
}

.hero-cards {
  min-height: 20rem;
}

a {
  text-decoration: none !important;
  color: unset !important;
}

@media only screen and (min-device-width: 1440px) {
  .App {
    padding: 0 10rem;
  }
}

.form-preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.754); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.close-button {
  min-width: 100%;
}

.pink-button {
  background-color: var(--clr-primary-400);
  color: #fff !important;
  border: none;
  padding-inline: 15px;
  padding-block: 8px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1rem;
}

.pink-button:hover {
  background-color: var(--clr-primary-100);
  color: #000 !important;
}

.pta-card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.364);
  border-radius: 0.25rem;
  margin: 1rem;
  min-width: 80%;
  position: relative;
  font-size: 2rem;
  color: var(--clr-primary-400) !important;
  font-weight: 500;
}

.pta-card div {
  top: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.364);
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #666;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8a8a8a;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
}

.profileModal div {
  font-weight: 600;
}

.profileModal div span {
  font-weight: 400;
}
